@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Nunito";
  /* --color-dark-blue: #05313d;
  --color-pink: #f2385a; */
  --color-dark-blue: oklch(0.2911 0.0498 221.08);
  --color-pink: oklch(0.6354 0.2194 16.52);
}

@layer utilities {
  .bg-gradient-brand {
    background-image: linear-gradient(
      90deg,
      var(--color-dark-blue),
      #463345,
      #73344a,
      var(--color-pink),
      #73344a,
      #463345,
      var(--color-dark-blue)
    );
    background-size: 200% 100%;
    background-position: left center;
    transition: background-position 0.2s ease;
  }

  .bg-gradient-brand:hover {
    background-position: right center;
  }
}

.link-primary {
  @apply font-semibold text-pink hover:text-dark-blue transition-all duration-300 underline decoration-pink hover:decoration-dark-blue;
}
